[submodule "themes/3-hexo"]
	path = themes/3-hexo
	url = https://github.com/yelog/hexo-theme-3-hexo.git
[submodule "themes/butterfly"]
	path = themes/butterfly
	url = https://github.com/jerryc127/hexo-theme-butterfly.git
